    <!-- Begin page content -->
    <div class="container">
        <!-- <div class="mt-1">
            <h1>SENEM, Simulados para exame nacional do ensino médio</h1>
        </div>
        <p class="lead">Um pequeno sistema de para geração de simulados para o exame nacional do ensino médio brasileiro, uma ferramenta rápida e fácil para testar seus conhecimentos.</p>
        <p>Desejamos para você um bom simulado, qualquer dúvida entre em contato conosco pela página de atendimento <a href="faleconosco.html"></a></p>
        <p>Saiba mais <a href="sobre.html">em poucos passos você conseguirar montar um simulado.</a></p> -->
    </div>
