<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>Sobre | SENEM</title>
    <meta name="description" content="sistema de simulação para prova do enem">
    <meta name="author" content="Deyvison Guilherme">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="bootstrap-4.0.0a5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="icon" type="image/png" href="images/favicon.png">
</head>

<body>
        <!-- Fixed navbar -->
    <div class="pos-f-t">
        <div class="collapse" id="navbar-header">
            <div class="container bg-inverse p-1">
                <h3>Collapsed content</h3>
                <p>Toggleable via the navbar brand.</p>
            </div>
        </div>
        <nav class="navbar navbar-full navbar-light bg-faded">
            <div class="container">
                <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-expanded="false" aria-controls="exCollapsingNavbar2" aria-label="Toggle navigation"></button>
                <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
                    <a class="navbar-brand" href="javascript:void(0);">SENEM</a>
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Início</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="sobre.html">Sobre<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="simulado.html">Simulado</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="http://example.com" id="responsiveNavbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administrador</a>
                            <div class="dropdown-menu" aria-labelledby="responsiveNavbarDropdown">
                                <a class="dropdown-item" href="caderno.html">Caderno</a>
                                <a class="dropdown-item" href="questoes.html">Questões</a>
                                <a class="dropdown-item" href="respostas.html">Respostas</a>
                                <a class="dropdown-item" href="usuario.html">Usuários</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="ranker.html">Ranker</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="faleconosco.html">Fale conosco</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <!-- Begin page content -->
    <div class="container page">
        <div class="mt-1">
            <h1>Conteúdo</h1>
        </div>
        <!-- <p class="lead">Um pequeno sistema de para geração de simulados para o exame nacional do ensino médio brasileiro, uma ferramenta rápida e fácil para testar seus conhecimentos.</p>
        <p>Desejamos para você um bom simulado, qualquer dúvida entre em contato conosco pela página de atendimento <a href="faleconosco.html"></a></p>
        <p>Saiba mais <a href="sobre.html">em poucos passos você conseguirar montar um simulado.</a></p> -->
    </div>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">Desenvolvido por: <em>Deyvison Guilherme</em> / <a href="https://github.com/deyvisonguilherme">Github</a>.</span>
        </div>
    </footer>

    <script src="jquery/jquery-3.1.1.min.js"></script>
    <script src="tether/js/tether.min.js"></script>
    <script src="bootstrap-4.0.0a5/js/bootstrap.min.js"></script>
    <script src="js/handlers.js"></script>
</body>

</html>
